body{
	background-image:url(https://www.desktop-background.com/p/2011/06/04/214039_hotline-miami-wallpapers-hd-wallpapers-day_1920x1080_h.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	background-attachment:fixed;
}
@font-face{
	font-family:hotwords;
	src:url(2183325.ttf);

}
.hotlinee{font-family:hotwords;}
#disk{
	max-width:20%;
	float:right;
	width:20%;
	height:20%;
	padding:10px;
	border:3px solid white;
	z-index:10;
}
#flexbox{
	display:flex;
	flex-direction:row;
	border-radius:10px;
	flex-wrap:wrap;}
#main{
	margin:0 0;
	border-radius:5px;
	background: linear-gradient(to top left,#FF00FF ,#8B008B,#00FFFF ,red);
}

#hot{
	text-align:center;
	font-size:350%;
	font-family:hotwords;}
p{
	font-size:150%;
	margin:4px;}
#welcome{
	text-align: center;
    background:linear-gradient(to top left,#FF00FF ,#8B008B,#00FFFF ,red);
	margin:10px;
	border-radius:5px;}
#welcome-head{
	background: linear-gradient(to top, white, pink);
	border-radius:10px;
	border:1px solid white;
	margin:auto;
	width:300px;
	font-family: system-ui;}
.footer{
	background:#2F4F4F;
	font-size:140%;
	margin:0px 0px 0px 0px;
	color:white;
	text-align:center;}
.footer ul li{}
#right-up{
	font-size:250%;
	text-align:center;
	font-family:monospace;}
#right-text{
	font-size:180%;
	font-family: system-ui;}
#posters{
	text-align:center;}
#screenshots img{
	margin:7px;
	border:2px solid black;
	width:40%;
	height:40%;}
	#main-part{
		background: linear-gradient(to top left,#FF00FF ,#8B008B,#00FFFF ,red);
		margin:10px;
		border-radius:5px;}
table{
	background-color:#DC143C;
	text-align: center;
	margin:40px;
	flex:1;}
.table{
	max-width:93%;
	display:flex;
	flex-direction:row;
	margin:30px;
	flex-wrap:wrap;}
tr:nth-child(-2n+3){color:white;}
tr:nth-child(2){background:white;}
tr:nth-child(n+4){background:white;}
table tr td img{
	height:150px;
	width:150px;}
#line-main{
	border:none;
	background:red;
	height:3px;
	}
#line{
	border:none;
	background:#C71585;
	height:2px;
	opacity:0.3;}
#op{
	font-family:Arial Narrow, sans-serif;
	font-size:120%;}
.names{
	font-size:250%;
	text-align:center;
	font-family:monospace;}
.jack{
	font-size:130%;
	font-family:Times New Roman, serif;}
.tegs{
	font-size:200%;
	color:indigo;
	margin:10px;}
.date{
	font-size:160%}
.text{
	font-size:120%;
	font-family:Times New Roman, serif}
.quest{
	font-family:Times New Roman, cursive;
	font-size: 110%;}
.margin{
	margin:10px;}
.jacket{
	font-size:110%;
	font-family:Times New Roman, cursive;}
.wall{
	background:rgba(200,200,200,0.7);
	margin:0.5%;
	border-radius:3px}
.carousel-item img{
	margin:auto;}
#head-img{text-align:center;}
#head-omg{
  width: 90%;
  max-width: 960px;
  align-content:center;}
#buttons{
	display:flex;
	margin:10px;
}
.footer-a li a{
	text-decoration:none;
	color:#EE82EE;}
.footer-a li a:hover{
	color:red;
	font-size:105%;
}
.footer-a li{
	list-style-type:none;
}
.footer-a li img:hover{
	border-radius:50%;
	border:1px solid white;
}
.text-monospace{margin:1%;}
.form-block{
	width: 50%;
	height:100%;
  	padding: 8% 0 0;
  	margin: auto;
	text-align:auto;
	background:rgba(255, 255, 255, 0.7);
	border:2px white black;
	border-radius:12px;
	position:relative;

}
.form{
	background:rgba(200, 200, 200, 0.7);
	position: relative;
 	z-index: 1;
  	max-width: 400px;
  	margin: 0 auto 100px;
  	padding: 45px;
  	text-align: center;
  	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input{
	font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;}
#sub-but{
	background-color:green;
	color:white;}
.form-group {
  position: relative;
  margin-bottom: 15px;
}
.fa{position: absolute;
  right: 15px;
  top: 17px;
  color: #999;}